pkgbase = eksisozluk-scraper
	pkgdesc = Terminal tabanlı Ekşi Sözlük scraper'ı. Çıktısı AI-friendly formatlarda: JSON (varsayılan), CSV ve Markdown.
	pkgver = 2.0.0
	pkgrel = 1
	url = https://github.com/erenseymen/eksisozluk-scraper
	arch = any
	license = GPL3
	depends = python
	depends = python-beautifulsoup4
	depends = python-argcomplete
	depends = python-rich
	depends = python-requests
	depends = python-urllib3
	depends = python-charset-normalizer
	depends = python-idna
	depends = python-requests-toolbelt
	depends = python-pyparsing
	depends = python-typing_extensions
	depends = python-soupsieve
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	optdepends = bash-completion: bash completion support
	source = eksisozluk-scraper-2.0.0.tar.gz::https://github.com/erenseymen/eksisozluk-scraper/archive/v2.0.0.tar.gz
	source = cloudscraper-1.2.71.tar.gz::https://files.pythonhosted.org/packages/source/c/cloudscraper/cloudscraper-1.2.71.tar.gz
	sha256sums = 47a6bf12e6553ef9adbd3ced7207f199acaf715a978a527bb268b798a37814b0
	sha256sums = 429c6e8aa6916d5bad5c8a5eac50f3ea53c9ac22616f6cb21b18dcc71517d0d3

pkgname = eksisozluk-scraper


